<!-- Card -->
<div class="">
  <div class="group relative">
    <div
      class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md lg:aspect-none group-hover:opacity-75 lg:h-80"
    >
      <img
        [src]="product.image"
        [alt]="product.title"
        class="h-full object-contain object-center mx-auto lg:h-full"
      />
    </div>
    <div class="mt-4 flex justify-between">
      <div class="max-w-[280px]">
        <h3 class="text-sm text-gray-700 truncate">
          <a>
            <span aria-hidden="true" class="absolute inset-0"></span>
            {{ product.title }}
          </a>
        </h3>
        <p class="mt-1 text-sm text-gray-500">&#8377; {{ product.price }}</p>
      </div>
      <!-- <p class="text-sm font-medium text-gray-900"></p> -->
    </div>
  </div>
  <div class="mt-4">
    <button
      class="w-full bg-[#763173] text-white py-2 rounded cursor-pointer"
      (click)="addToCart(product)"
    >
      Add to cart
    </button>
  </div>
</div>
